$theme-colors: (
        "primary": #C1C6B3,
        "secondary": #98B0CC,
        "greendark": #138496,
        "green": #139618,
        "gray": #989898,
        "success": #139618,
        "greydark": #444444,
        "sfbred": #C70036,
        "warning": #FFFFCC
);





$enable-rounded: false;
$body-bg: #000;
$body-color: #ffffff;
$link-color: #ccc;


$sfb-red: #C70036;

$nav-link-hover-color: #ccc;
$nav-tabs-link-active-color:#ffffff;
$nav-tabs-link-active-bg: $sfb-red;
$nav-link-color: #fff;