
html,
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  font-size:13px;
  position: relative;
  //left:0;
  //right:0;
  //bottom:0;
  //top:0;
}

h1,.h1{
  font-size: 2.5rem;
  font-weight: 300;
}

h2,.h2{
  font-size: 1.125rem;
  font-weight: 300;
}
h3,.h3
{
  font-size: 1rem;
  font-weight: 700;
}

.text-dark{
  color:$dark;
}

dl{
  display: block;
  font-size:20px;
  margin:0;

  dt{
    font-weight: 300;
    display: inline-block;
    min-width: 130px;
  }
  dd{
    font-weight: 300;
    display: inline-block;
    text-align: center;
    min-width: 20px;
    border-bottom:1px solid white;
    padding:0 10px;
  }
}

#main{
  .inside {
    max-width: 1920px;
    margin:0 auto;
  }
}

.nav{
  &-link{
    padding:0.25rem 1rem;
  }
  &-item{
    background:black;
  }
}

.text-right{
  text-align: right!important;
}

#alert{
  position:absolute;
  top:33px;
  left:0;
  right:0;
}

.mainlogo-wrapper{
  position:absolute;
  right:15px;
  top:7px;
  width:80px;
  overflow:hidden;
  display:block;
  img{
    width:100%;
    height:auto;
  }
}

.net-status {
  position: fixed;
  right: 0;
  top: 0;
  height: 27px;
  background: lawngreen;
  z-index: 99999;
  width: 27px;

  &--error {
    background: red;
  }

  &--warning {
    background: yellow;
  }

  img {
    width: 100%;
    height: auto;
  }
}
