@import 'modules/tooltip';

.results{
    display:block;
    overflow:hidden;
    padding:1rem;

    h3 {
        margin: 5px 0 0;
        font-size: 12px;
        font-weight: 700;
    }
}

.result_score{
    display:flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.result_score>div{
    flex:0 0 auto;
}

.result_score--set{
    background:#efefef;
    padding:0;
}


.result_score .result_score--table{
    flex:1 0 auto;
    padding:0.5rem 0;
}

.result_score .result_score--table table{
    margin:0;
}

.result_score--table td,
.result_score--table th{
    width:17px;
    height:17px;
    line-height: 17px;
    text-align: center;
}

.result_score--result{
    padding:0.5em;
    background:#ccc;
    text-align: center;
    padding-top:12px;
    line-height: 1rem;
    width: 3rem;
}

.result_score--result>div {
    margin-bottom:5px;
}
.result_score--result>div:last-child{
    margin:0;
}

.result_score--time {
    background:#fff;
    padding:20px 0.5rem 0;
}

.result_weather{
    display:block;
    overflow: hidden;
    padding:1rem;
}

.result_weather ul{
    margin:0 0 0 -15px;
    padding:0;
}

.result_weather li {
    display:inline-block;
    padding-right:5px;
    margin-left:15px;
}
.result_weather li:last-child{
    padding:0;
}

.live-score td span {
    color: #fff;
    font-weight: 700;
    background: #000;
    display:block;
}

.result_teams{
    padding:1rem;
}

.result_teams table th{
    border-bottom:2px solid #000;
    padding:2px 5px;
    border-right:1px solid #999;
}
.result_teams table td{
    padding:2px 5px;
    border-bottom:1px solid #999;
    border-right:1px solid #999;
}

.result_teams table tr:nth-child(odd){
    background:#fff;
}


.result_teams table th:last-of-type,
.result_teams table td:last-of-type{
    border-right:none;
}

.result_teams table td:nth-of-type(1),
.result_teams table td:nth-of-type(2),
.result_teams table td:nth-of-type(5)
{
    text-align: center;
}


.result_teams {
    display:flex;
    background:#efefef;
}
.result_teams--home{
    margin-right:3rem;
}
.result_teams h2 {
    margin-top:0;
}


.result_officials{
    padding:1rem 1rem 0;
}

.result_officials dl{
    display:flex;
}
.result_officials dt {
    font-weight: 700;
}
.result_officials dd {
    margin-right:1rem;
    padding-left:5px;
}
