

.cover{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background: rgba(0,0,0,0.8);
  display:none;
  opacity: 0;

  &.show{
    display:block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &--show-nofade{
    opacity: 1;
    display: block;
  }

  &--control{

  }

  &--gameset{
    top:125px;
  }
}



@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
