
input,select,textarea
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius:0;
  color:black;

}

input.text-white-no-bg{
  border-width:0 0 1px;
  border-color:white;
  border-style:solid;
  background:none;
  text-align:center;
  color:white;

}

.form-select{
  color:black;
  background-color: #fff;
}
.form-control{
  color:black;
  background-color: #fff;
}

.form-error {
  border-color: red;
}

.form-check-input
{
  cursor:pointer;
  &:active,
  &:focus,
  &:checked{
    outline: none;
  }

  &:checked {
    background-color: #090;
    border: 0px solid #000;
  }
}
