
#game{
  .setFinishedMessage{
    display:none;
  }
}


.game-history{
  .game-time {
    i{
      display:inline-block;
      vertical-align: middle;
      margin-right: 10px;
      font-size: 32px;
    }
    time{
      font-size: 30px;
      line-height: 1em;
      vertical-align: middle;
      padding:0 10px;
    }
  }

  table{
    border-collapse: collapse;
    border:1px solid white;
    tbody
    {
      th {
        border-style:solid;
        border-color:white;
        border-width:0 1px 1px 0;
        text-align: center;
      };
      td {
        border-style:solid;
        border-color:white;
        border-width:0 1px 1px 0;
        padding:0;
        width: 2.7%;

        a{
          display:block;
          overflow:hidden;
          text-decoration: none;
        }
      };

      td:nth-child(5n+6){
        border-right:5px solid white;
      }

    }
  }
  .big-result{
    font-size:6em;
    line-height: 1em;
    text-align:center;
  }

  btn{
    font-size:24px;
  }

  .logo-wrapper
  {
    display: block;
    margin:0 0 1.5rem;
    img{
      width: 100px;
      display:inline-block;
      margin:0 auto;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
  }

  .btn-list-teams
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .btn-wrapper{
      display: flex;
      flex-direction: column;
      align-items:center;
    }

    label{
      display:block;
    }
    button{
      position: relative;
      display: inline-block;
      width: 80px;
      height: 75px;
      text-align: center;
      line-height: 63px;
    }
    i{
      font-size: 50px;
      color:white;
    }
    .badge{
      position:absolute;
      right: -8px;
      top:-8px;
      border-radius: 6px;
      padding:0;
      i{
        font-size: 20px;
      }
    }
  }

  .btn-list-vorfaelle {
    i:before{
      font-size: 48px;
      line-height: 48px;
      color:white;
    }
    label {margin-bottom:30px;}
  }
  .btn-group
  {
    margin:0 auto;
  }

  .gameSetWin{
    position:absolute;
    left:-20px;
    bottom:0px;
    line-height: 1em;
    font-size: 80px;
    color:#666;
    &-B{
      right:-20px;
      left:auto;
    }
  }

}

