



.game-attributes{
  margin:0;
  padding:0;
  list-style: none;
  display:flex;
  flex-wrap: wrap;

  li{
    flex: 0 1 auto;
    display:inline-block;
    width:33%;
  }
}

.bg-primary,
.bg-secondary{
  a{
    color:black;
    text-decoration: none;
    display: block;
    overflow: hidden;
  }
}

table {
  div.checkbox{
    text-align: center;
  }
  input.form-check-input {
    background: none;
    border-radius: 0;
    border-width: 0;
    width: 1.25rem;
    height: 1.25rem;
    position:relative;
    &:checked{
      background:none!important;
      color:black;
      &:after{
        content: "X";
        text-align: center;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        position: absolute;
        line-height: 1em;
      }
    }
  }
}


.form-group{
  label {
    width:130px;
  }
  input{
    border-width:0 0 1px;
    background:none;
  }
  &.text-white{
    margin-left:8px;
    input{
      color:white;
    }
  }
}