
.tab-game-controll{

  .input-group{
    label{
      display: block;
      text-align: center;
    }
    input {
      width:8rem;
      text-align: center!important;
      font-size: 20px;
      border-radius: 0;
    }
  }
}