


.live-score{
  border-color:white;
  border-style:solid;
  border-width: 1px;
  width:auto;
  th{
    border-width: 0 3px 0 0;
    width:36px;
    text-align: center;
  }
  td{
    width:36px;
    text-align: center;
    border-width: 0 1px 0 0;
    border-style:solid;
    border-color:white;
    &:nth-child(5n + 6){
      border-width:0 4px 0 0;
    }
    span {
      color:$sf_red;
    }
  }
  tr:first-of-type{
    border-width:0 0 4px;
  }
}
