

.modal{
  background:rgba(0,0,0,0.7);
  color:black;

  form{

    .form-group{
      margin-bottom:5px;
    }
    .form-control:focus
    {
      color:black;
    }

    label{
      font-size: 12px;
      color:gray;
    }
    input{
      color: black;
      border-width: 0 0 1px;
      padding: 2px 0;
      background-color: #fff;
    }
  }



  .modal-header
  {
    //background: rgb(2,0,36);
    //background: linear-gradient(0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  }

  .modal-footer
  {
    .btn{
      color:white;
    }
  }

}