.signature{
  position:relative;
  padding-top: 30%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-canvas {
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    width: 380px;
    height: 100px;
    border:1px dashed silver;
    border-radius: 5px;
  }

  button{
    position:absolute;
    bottom:-9px;
    right:-9px;
  }

}