table{
  width: 100%;
  border-collapse: collapse;
  border:0px solid #000;
  thead{
    th {
      border-color:#000000;
      border-style:solid;
      border-width: 0px 1px 4px 1px;
      padding:0 10px;
      &:first-child{
        border-left:0;
      }
      &:last-child{
        border-right:0;
      }
    }
  }
  tbody{
    td{
      padding:0 10px;
      border-color:#000000;
      border-style:solid;
      border-width: 0px 1px 1px 1px;
      &:first-child{
        border-left:0;
      }
      &:last-child{
        border-right:0;
      }
    }
  }
}