[data-tooltip]
{
  cursor:help;
  display: block;

}
[data-tooltip]:after{
  content: attr(data-tooltip);
  position: absolute;
  background: rgb(100,100,100);
  font-weight: 400;
  padding: 5px 15px;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius : 3px;
  border-radius : 3px;
  white-space: pre-wrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
  left:17px;
  bottom: -10px;
  z-index: 99;
  display: none;
  width: 150px;
}
[data-tooltip]{
  position:relative;
}
[data-tooltip]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid rgb(100,100,100);;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition : all 0.4s ease;
  transition : all 0.4s ease;
  opacity: 0;
  right: -10px;
  bottom:3px;
  z-index:99;
  display: none;
  transform: rotate(-90deg);
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before {
  display: block;
  opacity: 1;
}
