
<table class="live-score" border="1">
    {{ include('_include/liveScoreTableRow.inc.twig', {'aRowData':aLiveScore.a,'team':'A','aRowData2':aLiveScore.b}) }}
    {{ include('_include/liveScoreTableRow.inc.twig', {'aRowData':aLiveScore.b,'team':'B','aRowData2':aLiveScore.a}) }}
</table>
