{% block modal %}
    <div class="modal fade modal-objection" id="modalbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">Einsprache</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <form method="post" action="/ResultServices/objection/save" name="" id="frmEditObjection">
                            <input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
                            <input type="hidden" name="gid" value="{{game.id}}">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="team" type="radio" id="teamA" value="{{ game.team_a }}" required>
                                        <label class="form-check-label" for="teamA">{{ aClubs.a.name }}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="team" type="radio" id="teamB" value="{{ game.team_b }}" required>
                                        <label class="form-check-label" for="teamB">{{ aClubs.b.name }}</label>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <input type="text" name="date" class="w-100" disabled value="{{ 'now' | date('d. m. Y')  }}" /><br />
                                    <input type="text" name="time" class="w-100" disabled value="{{ 'now' | date('H:i:s')  }}" />
                                </div>
                            </div>
                            <div class="mt-2">
                                <label for="exampleFormControlTextarea1" class="form-label">Einsprache</label>
                                <textarea class="form-control" name="objection" id="exampleFormControlTextarea1" rows="3" required></textarea>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-success text-white">speichern</button>
                                <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">
                                    abbrechen
                                </button>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
