{% block modal %}
    <div class="modal fade" id="modalbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3">
                <div class="modal-header bg-primary">
                    <div class="modal-title"><h5 class="mb-0">Spieler Wechsel</h5><small>Team:&nbsp;{{ objClubData.club.name }}</small></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <form method="post" action="/ResultServices/player/change/save/" name="" id="frmChangePlayer">
                            <input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
                            <input type="hidden" name="gameId" value="{{ gameId }}" />
                            <input type="hidden" name="teamId" value="{{ objClubData.id }}" />
                            <div class="form-group">
                                <label for="playerOut" class="form-label">Spieler out</label>
                                <select class="form-select" aria-label="" id="playerOut" name="player[out]">
                                    <option selected>Spieler wählen</option>
                                    {% for player in objClubData.player %}
                                        {% if aPlayerInSet[player.id] is defined and aPlayerInSet[player.id] == 'true' %}
                                        <option value="{{ player.id }}">[{{ "%2d"|format(player.number) }}]&nbsp;{{ player.firstname|raw }}&nbsp;{{ player.name|raw }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="playerIn" class="form-label">Spieler in</label>
                                <select class="form-select" aria-label="" id="playerIn" name="player[in]">
                                    <option selected>Spieler wählen</option>
                                    {% for player in objClubData.player %}
                                        {% if aPlayerInSet[player.id] is not defined or aPlayerInSet[player.id] == 'false' %}
                                        <option value="{{ player.id }}">[{{ "%2d"|format(player.number) }}]&nbsp;{{ player.firstname|raw }}&nbsp;{{ player.name|raw }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-success text-white">speichern</button>
                                <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">
                                    abbrechen
                                </button>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
