{% block modal %}
<div class="modal fade modal-objection" id="modalbox" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3">
            <div class="modal-header">
                <h5 class="modal-title">Kein Zugriff</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                    <p>Sie haben keinen Zugriff auf diese Fuktion. Bitte loggen Sie sich ein.</p>
                    <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">schliessen</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>