{% block modal %}
    <div class="modal fade modal-objection" id="modalbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">Vorfall</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <form method="post" action="/ResultServices/incident/save" name="" id="frmEditIncident">
                            <input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
                            <input type="hidden" name="gid" value="{{game.id}}">
                            <div class="row">
                                <label for="date" class="col-form-label col-2">Datum:</label>
                                <div class="col-4">
                                    <input type="text" id="date" name="date" class="w-100" disabled value="{{ 'now' | date('d. m. Y')  }}" /><br />
                                </div>
                                <label for="time" class="col-form-label col-2">Uhrzeit:</label>
                                <div class="col-4">
                                    <input type="text" id="time" name="time" class="w-100" disabled value="{{ 'now' | date('H:i:s')  }}" />
                                </div>
                            </div>
                            <div class="row mt-4">
                                <select id="PlayerTeamA" name="playerTeamA" class="form-select">
                                    <option>Spieler Team:&nbsp;{{ aTeams.a.club.name }}</option>
                                    {% for item in aTeams.a.player %}
                                    <option value="{{ item.id }}">{{ "(%2d)"|format(item.number) }}&nbsp;{{ item.firstname|raw }}&nbsp;{{ item.name|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mt-2">
                                <select id="PlayerTeamB" name="playerTeamB" class="form-select">
                                    <option>Spieler Team:&nbsp;{{ aTeams.b.club.name }}</option>
                                    {% for item in aTeams.b.player %}
                                        <option value="{{ item.id }}">{{ "(%2d)"|format(item.number) }}&nbsp;{{ item.firstname|raw }}&nbsp;{{ item.name|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mt-2">
                                <select id="incidentSelect" name="incident" class="form-select">
                                    <option value="">Vorfall wählen</option>
                                    <option value="exclusion">Ausschluss</option>
                                    <option value="interruption">Spielunterbruch</option>
                                    <option value="cancellation">Spielabbruch</option>
                                    <option value="incident">anderer</option>
                                </select>
                            </div>
                            <div class="row mt-2">
                                <label for="notice" class="form-label">Notiz</label>
                                <textarea class="form-control" name="notice" id="notice" rows="3" required></textarea>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-success text-white">speichern</button>
                                <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">
                                    abbrechen
                                </button>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
