{% block modal %}
    <div class="modal fade modal-objection" id="modalbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3">
                <div class="modal-header bg-primary">
                    <div>
                        <h5 class="modal-title">Spieler hinzufügen</h5>
                        <div>Team:&nbsp;{{ oTeam.club.name }}&nbsp;–&nbsp;{{ oTeam.name }}</div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <form method="post" action="/ResultServices/player/save" name="" id="frmCreatePlayer">
                            <input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
                            <input type="hidden" name="teamId" value="{{oTeam.id}}">
                            <div class="form-group">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="name" value="" class="form-control" id="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="form-label">Vorname</label>
                                <input type="text" name="firstname" value="" class="form-control" id="firstname" placeholder="Vorname" required>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="form-label">Jahrgang</label>
                                <input type="text" name="birthday" value="" class="form-control" id="birthday" placeholder="Jahrgang (YYYY)" required>
                            </div>
                            <div class="form-group">
                                <label for="number" class="form-label">Nummer</label>
                                <input type="text" name="number" value="" class="form-control" id="number" placeholder="Nummer" required>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-success text-white">speichern</button>
                                <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">
                                    abbrechen
                                </button>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}