{% block modal %}
    <div class="modal fade" id="modalbox" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3">
                <div class="modal-header">
                    <h5 class="modal-title">Spieler bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <form method="post" action="/ResultServices/player/save/{{ objData.id }}" name="" id="frmEditPlayer">
                            <input type="hidden" name="REQUEST_TOKEN" value="{{request_token}}">
                            <input type="hidden" name="playerID" value="{{ objData.id }}" />
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" value="{{ objData.name|raw }}" class="form-control" id="name"
                                       placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="firstname">Vorname</label>
                                <input type="text" name="firstname" value="{{ objData.firstname|raw }}" class="form-control"
                                       id="firstname" placeholder="Vorname">
                            </div>
                            <div class="form-group">
                                <label for="birthday">Jahrgang</label>
                                <input type="text" name="birthday" value="{{ objData.birthdate|date('Y') }}"
                                       class="form-control" id="birthday" placeholder="Jahrgang">
                            </div>
                            <div class="form-group">
                                <label for="number">Nummer</label>
                                <input type="text" name="number" value="{{ objData.number }}" class="form-control"
                                       id="number" placeholder="Nummer">
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-success text-white">speichern</button>
                                <button type="button" class="btn btn-block btn-gray text-white" data-bs-dismiss="modal">
                                    abbrechen
                                </button>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
