<div class="container-fluid game-history" data-set="{{ currentPlaySet }}" data-game="{{ oGame.id }}"  data-set-start="{{ aLiveScore.time.start }}">
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <h1>Satz&nbsp;{{ currentPlaySet }}</h1>
            <h2>{% if aTeams.a.club is defined %}{{ aTeams.a.club.name }}{% endif%} VS. {% if aTeams.b.club is defined %}{{ aTeams.b.club.name }}{% endif %}
                <br />{{ oGame.round }}</h2>

        </div>
        <div class="col-12 col-md-3 ">
            <div class="big-result" data-team-a="{{ oCurrentResult.team_a }}" data-team-b="{{ oCurrentResult.team_b }}">{{ oCurrentResult.score }}</div>
        </div>
        <div class="col-12 col-md-5">
            {% if allSetsPlayed == false %}
            <div class="row game-time align-items-center">
                <div class="col-3">
                    <button class="btn btn-success btn-start-game" value="Start" >Start</button>
                </div>
                <div class="col-9 ">
                    <i class="bi-clock" ></i><time class="stopwatch"></time>
                </div>
            </div>
            {% endif %}

            {% if currentPlaySet == 1 %}
            <div class="row mt-2">
                <div class="col-3">Anspiel</div>
                <div class="col-9">
                    <div class="form-check form-check-inline">
                        <label for="teamA" class="form-check-label">Team A</label>
                        <input type="radio" id="teamA" class="form-check-input" data-game="{{ oGame.id }}" {% if aLiveScore.firstplay.id_team == aTeams.a.id %}checked="checked"{% endif%} name="pass" value="{{ aTeams.a.id }}" {% if aLiveScore.firstplay is not empty %}disabled="disabled"{% endif %} />
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="teamB" class="form-check-label">Team B</label>
                        <input type="radio" id="teamB" class="form-check-input" data-game="{{ oGame.id }}" {% if aLiveScore.firstplay.id_team == aTeams.b.id %}checked="checked"{% endif%} name="pass" value="{{ aTeams.b.id }}" {% if aLiveScore.firstplay is not empty %}disabled="disabled"{% endif %} />
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <h3>LIVE-Score</h3>
        <div class="container live-score-wrapper">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 bg-sfbred text-center fade show py-3 setFinishedMessage">
        <div class="form-group">
            <h2>Satz beendet!</h2>
            <p>Bitte prüfen Sie das Resultat.</p>
            <button type="submit" class="btn btn-block btn-success text-white" id="btnCloseSet">Satz abschliessen?</button>
            <button type="button" class="btn btn-block btn-greydark text-white" id="btnCancleCloseSet">Satz weiterspielen?</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5 text-dark">
            <div class="bg-primary px-2">
                <div class="py-3">
                    <div class="logo-wrapper text-center">
                        {%  if aTeams.a.club.logoImg %}
                            <img src="{{ aTeams.a.club.logoImg.path }}" title="{{ aTeams.a.club.name }}" width="70" />
                        {% endif %}
                    </div>
                    <div class="btn-list-teams">
                        <div class="btn-wrapper">
                            <button type="button" id="btnPointA" data-team="{{ aTeams.a.id }}" class="btn btn-green rounded-3"><i class="bi-plus"></i></button>
                            <label for="btnPointA">Punkt</label>
                        </div>
                        <div class="btn-wrapper">
                            <button type="button" id="btnChangeA" {% if aTeams.a.player.count() < 6 %}disabled{% endif %} data-team="{{ aTeams.a.id }}" data-game="{{ oGame.id }}" class="btn btn-greendark rounded-3"><i class="bi-arrow-repeat"></i></button>
                            <label for="btnChange">Wechsel</label>
                        </div>
                        <div class="btn-wrapper">
                            <button type="button" id="btnTimeOutA" data-team="{{ aTeams.a.id }}" class="btn btn-gray rounded-3 {% if aLiveScore.timeout.a is not empty %} bg-sfbred{% endif %}"><i class="bi-stopwatch"></i><span class="badge badge-success bg-success fade {% if aLiveScore.timeout.a is not empty %} show{% endif %}"><i class="bi-check"></i></span></button>
                            <label for="btnTimeOutA" >TimeOut</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="fs-1 text-center">A</div>
                    <div class="fs-3 mx-4 text-center position-relative">
                        <div class="gameSetWin">{{ oGame.sets_team_a|number_format }}</div>
                        {{ aTeams.a.club.name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 btn-list btn-list-vorfaelle">
            <h2 class="text-center">Vorfälle</h2>
            <div class="mx-4 text-center">
                <button type="button" class="btn btn-lg btn-gray rounded-3" id="btn-incident" name="btn-other" ><i class="bi-info-circle"></i></button>
                <label class="text-center d-block" for="btn-other">Sonstiges</label>
                <button type="button" class="btn btn-lg btn-gray rounded-3" id="btn-objection" data-club="[{{ aTeams.a.club.id }},{{ aTeams.b.club.id}}]"  name="btn-objection" ><i class="bi-person-fill"></i></button>
                <label class="text-center d-block" for="btn-entry">Einsprache</label>
                <button type="button" class="btn btn-lg btn-gray rounded-3" id="btn-warn" name="btn-warn" ><i class="bi-x-circle-fill"></i></button>
                <label class="text-center d-block" for="btn-out">Verwarnung</label>
            </div>

        </div>
        <div class="col-5 text-dark">
            <div class="bg-secondary px-2">
                <div class="py-3">
                    <div class="logo-wrapper text-center">
                        {%  if aTeams.b.club.logoImg %}
                            <img src="{{ aTeams.b.club.logoImg.path }}" title="{{ aTeams.b.club.name }}" width="70" />
                        {% endif %}
                    </div>
                    <div class="btn-list-teams">
                        <div class="btn-wrapper">
                            <button type="button" id="btnTimeOutB" data-team="{{ aTeams.b.id }}" class="btn btn-gray rounded-3 {% if aLiveScore.timeout.b is not empty %} bg-sfbred{% endif %}"><i class="bi-stopwatch"></i><span class="badge badge-success bg-success fade {% if aLiveScore.timeout.b is not empty %} show{% endif %}"><i class="bi-check"></i></span></button>
                            <label for="btnTimeOutB">TimeOut</label>
                        </div>
                        <div class="btn-wrapper">
                            <button type="button" id="btnChangeB" {% if aTeams.b.player.count() < 6 %}disabled{% endif %} data-team="{{ aTeams.b.id }}" data-game="{{ oGame.id }}" class="btn btn-greendark rounded-3"><i class="bi-arrow-repeat"></i></button>
                            <label for="btnChange">Wechsel</label>
                        </div>
                        <div class="btn-wrapper">
                            <button type="button" id="btnPointB" data-team="{{ aTeams.b.id }}" class="btn btn-green rounded-3"><i class="bi-plus"></i></button>
                            <label for="btnPointB">Punkt</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-center fs-1">B</div>
                    <div class="text-center fs-3 mx-4 position-relative">{{ aTeams.b.club.name}}
                        <div class="gameSetWin gameSetWin-B">{{ oGame.sets_team_b|number_format }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="cover cover--gameset cover--show-nofade"></div>
