<tr>
    <th>{{ team }}</th>
    {% set iCount = 0 %}
    {% for i in 1..35 %}
        {% if aRowData[loop.index0] is not empty %}
            <td class="text-center">
            {% if aRowData[loop.index0].skey == 'point' %}
                {% set iCount = iCount+1 %}
                <a href="/ResultServices/deletePoint/{{ aRowData[loop.index0].id }}" data-point="delete">
                {{ iCount }}
                </a>
            {% endif %}
            </td>
        {% else %}
            <td>{% if aRowData2[loop.index0].id is not empty %}
                    <a href="/ResultServices/changePoint/{{ aRowData2[loop.index0].id }}" data-point="change">&nbsp;</a>
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
</tr>
